@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground tracking-tight antialiased;
    overscroll-behavior: none;
  }
}

/* Hide scrollbar for a cleaner Apple-like aesthetic */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
html {
  scrollbar-width: none;
}
